body{
	background: #b7512f;
	margin: 0px;
	border: 0px;
}
#header{
	width: auto;
	height: 90px;
	background: #c65a35;
	color: white;
	padding-top: 20px;
}
#sidemenu{
	float: left;
	width: 300px;
	background: #c65a35;
	color: white;
	margin-top: 5px;
	
}
#data{
	width: auto;
	
	color: white;
	padding-left:330px;
}

#sidemenu.ul li{
	display: inline-block;
	padding-bottom: 10px;
	
}
#sidemenu li{
	padding-bottom: 30px;
	border-bottom: 3px solid grey;
}
#sidemenu li:hover {
	background: black;
	color: white;
	padding-left:10px;
    -moz-transition: padding-left .3s ease-in;
    -o-transition: padding-left  .3s ease-in;
    -webkit-transition: padding-left  .3s ease-in;
    transition: padding-left  .3s ease-in;
}
#sidemenu a{
	text-decoration:none;
	color:white;
}
#back{
	width: 50px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#back:hover{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
#back{
	width: 50px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#back:hover{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

